@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
  }

  ::-webkit-scrollbar {
    display: none;
  }

  a {
    @apply z-0;
  }
}

@font-face {
  font-family: 'Qaligo';
  src: url('/fonts/Qaligo-Elegant-Serif_Youthlab_071220/Qaligo\ Regular\ -\ Demo.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Wavenhaus Semibold';
  src: url('/fonts/Wavehaus_Sans_Free_Typeface_Graham_Paterson_271219/Wavehaus-95SemiBold.otf');
  font-display: swap;
}
@font-face {
  font-family: 'Wavenhaus Bold';
  src: url('/fonts/Wavehaus_Sans_Free_Typeface_Graham_Paterson_271219/Wavehaus-128Bold.otf');
  font-display: swap;
}
@font-face {
  font-family: 'Wavenhaus Extrabold';
  src: url('/fonts/Wavehaus_Sans_Free_Typeface_Graham_Paterson_271219/Wavehaus-158ExtraBold.otf');
  font-display: swap;
}

@layer utilities {
  .cursor {
    position: fixed;
    background-color: #fff;
    width: 10px;
    height: 10px;
    left: -10px;
    top: -10px;
    border-radius: 100%;
    z-index: 1;

    z-index: 10000;
    transform: scale(1);
  }

  .cursor-follow {
    position: fixed;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    left: -21px;
    top: -21px;
    border-radius: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
  }

  .img-container {
    visibility: hidden;
  }
  .block {
    @apply absolute w-full h-full;
  }

  .main-image {
    background: url('/assets/ppp 2.jpeg') 50% 50% no-repeat;
    background-size: cover;
    visibility: hidden;
  }
  /* .overlay { */
  /* position: absolute; */
  /* width: 100%; */
  /* height: 50vh; */
  /* bottom: -10rem; */
  /* } */
  .animation-wrapper {
    width: 100vw;
  }
  .element {
    height: 100vh;
    width: 100%;
    background-size: cover;
  }

  .text-wrapper,
  .header,
  .lineSvg,
  .fullscreen-menu,
  .scroll {
    visibility: hidden;
  }
  .scroll {
    color: white;
  }
  .about-section-name,
  .experience-section-name {
    overflow: hidden;
  }
  .about-reveal,
  .exper-reveal {
    display: inline-block;
    transform: translate(0, -250%);
  }

  @media only screen and (min-width: 768px) {
    .panels-container {
      display: grid;
      grid-template-rows: 130px 130px 130px 130px 130px 130px 130px 130px 130px 130px 130px 130px 130px;
      row-gap: 50px;
    }

    .panel-4 {
      grid-row-start: 10 !important;
    }
  }

  .no-color {
    color: #a74036;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }
}
